# Ignore environment files
.env

# Python cache and compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd
# Virtual environments
venv/
env/

# Editor folders
.vscode/
# OS files
.DS_Store
Thumbs.db
# Logs
*.log
# Uploads
app/static/uploads/